.results {
  display: flex;
}
.result{
    margin: 10px;
}
mat-card-title{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.meteo{
    margin-left: 25px;
}
.weather-state{
    margin-bottom: 0px;
font-size: 14px;
}
.temp{
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 2px;
}
.city{

    margin-left: 5px;
    margin-right: 21px;
}
.min-max{
    display: flex;
    justify-content: space-evenly;
    font-size: 13px;
}
.last-update{
    display: flex;
    margin-bottom: 0px;
    font-size: 12px;
    justify-content: space-between;
}
.next-days{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    margin: 2px;
}
.day{
    padding: 3px;
    margin: 4px;
    text-align: center;
    background: rgb(165 199 201 / 49%);
    box-shadow: 0 8px 32px 0 rgb(0 0 0 / 12%);
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

mat-card{
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.clicked{
    background-color: aqua;
}
mat-icon:hover{
  color:   #ca4216;
}