.div-search {
  display: flex;
  flex-wrap: wrap;
}
button {
  position: absolute;
  top: -11px;
  right: -3px;
  width: 4.4em;
}
mat-progress-spinner{
  z-index: 100;
    position: absolute;
    margin-top: 77px;
}
