h1 {
  padding: 20px;
  display: flex;
  justify-content: center;
}
app-search-bar {
  display: flex;
  justify-content: center;
}
app-res {
  display: flex;
  justify-content: center;
}
.title {
  color: aliceblue;
  font-weight: bold;
}
